<app-header />
<main>
  <ul id="users">
    <!-- @for (user of users; track user.id) { -->
      <li *ngFor="let user of users">
        <app-user
          [user]="user"
          (select)="onSelectUser($event)"
          [selected]="user.id === selectedUserId"
        />
      </li>
    <!-- } -->
  </ul>
  <!-- @if (selectedUser) { -->
    <app-tasks *ngIf="selectedUser; else fallback" [userId]="selectedUser.id" [name]="selectedUser!.name"/>
  <!-- } @else {
    <p>Please select a user</p>
  } -->
    <ng-template #fallback>
      <h2>Please select a user</h2>
    </ng-template>
</main>
